<launch>
  <!-- roslaunch arguments -->
  <arg name="show_rviz" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>

  <!-- Robot pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
  </include>

  <param name="robot_description" textfile='$(find RL_robot)/robots/RL_robot.urdf' />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="RL_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
    args="-urdf -param robot_description -model RL_robot -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />

<!-- #####################robot visualization in Rviz############################### -->
  <group if="$(arg show_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" output="screen"/> 

    <rosparam file="$(find RL_robot_controller)/config/joint_position_control.yaml" command="load" />
    
    <node name="RL_robot_controller_node" pkg="controller_manager" type="spawner" output="screen" ns="/RL_robot" args="joint_state_controller

              LF_HFE_position_controller
              RF_HFE_position_controller
              LH_HFE_position_controller
              RH_HFE_position_controller
	      LF_KFE_position_controller
	      RF_KFE_position_controller
	      LH_KFE_position_controller
	      RH_KFE_position_controller"/>

         <!-- LF_HAA_position_controller
	      RF_HAA_position_controller
              LH_HAA_position_controller
              RH_HAA_position_controller -->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
  </node>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
  	<param name="use_gui" value="true"/>
  </node>
  </group>

</launch>
